#midsem {
    height: 100%;
    width: 95%;
    background:white;
    /* border: 1px solid #dddddd; */
    /* margin: 1rem auto; */
}

/*=================================================================================================
 = midsem list
=================================================================================================*/
#midsem .midsem-list {
    width: calc(100% - 20rem);
    height: 100%;
    /* border-right: 1px solid #DDDDDD; */
    padding: 1.25rem 2rem 0;
}

.midsem-list h2 {
    padding-bottom: 0.5rem;
}

.midsem-list .table-container {
    height: calc(100% - 2.6rem);
    background-color: #FFFFFF;
    border-radius: 0.25rem;
    border: 1px solid #DDDDDD;
}

.midsem-list .midsem-list-table {
    border-radius: 0;
    border-collapse: collapse;
}

.midsem-list-table thead th {
    border-radius: 0;
    background-color: #86dc9d;
    color: #FFFFFF;
    font-family: 'Roboto-Medium', 'Roboto Medium', 'Roboto', 'Helvetica', 'Arial', sans-serif;
    padding: 1rem 0.45rem;
    text-align: center;
}

.midsem-list-table tbody td {
    padding: 0.75rem 0.45rem;
    text-align: center;
}

.midsem-list-table tbody * {
    font-family: 'Roboto-Regular', 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

.midsem-list-table .ant-pagination.ant-table-pagination {
    margin: 1rem 1rem 0;
}

.midsem-list-table .ant-pagination.ant-table-pagination .ant-pagination-item.ant-pagination-item-active {
    background-color: #56b46f;
    border-color: #56b46f;
}

.midsem-list-table tbody tr td:last-of-type {
    width: 10rem;
}

.midsem-list-table .action-column {
    width: 100%;
}

.midsem-list-table .action-column button {
    width: 4rem;
    margin: 0 0.275rem;
    height: 1.5rem;
    border: 1px solid transparent;
    background-color: transparent;
    cursor: pointer;
    border-radius: 0.25rem;
    font-size: 0.875rem;
}

.midsem-list-table .action-column button.delete {
    border-color: #D32F2F;
    color: #D32F2F;
}

.midsem-list-table .action-column button.edit {
    border-color: #56b46f;
    background-color: #56b46f;
    color: #FFFFFF;
    transition: 100ms;
}

.midsem-list-table .action-column button.edit:hover {
    border-color: #86dc9d;
    background-color: #86dc9d;
}


/*=================================================================================================
 = New midsem
=================================================================================================*/
#midsem .new-midsem {
    height: 100%;
    width: 20rem;
    padding: 4rem 1rem 0;
}

.new-midsem h2 {
    font-size: 1.25rem;
    color: #666666;
    text-align: center;
    padding-bottom: 0.25rem;
    border-bottom: 1px solid #999999;
    margin-bottom: 2rem;
}

.new-midsem label {
    font-size: 0.9rem;
    display: block;
    color: #AAAAAA;
    margin-bottom: 0.6rem;
}

.new-midsem .form-input {
    width: 100%;
    display: block;
    height: 2.5rem;
    padding: 0 0.5rem;
    margin-bottom: 1.5rem;
    border-radius: 0.25rem;
    border: 2px solid #DDDDDD;
    background-color: #FFFFFF;
    transition: 80ms;
}

.new-midsem .form-input:focus {
    border-color: #AAAAAA;
}

.new-midsem .form-input:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.new-midsem button {
    display: block;
    width: calc(100% - 2rem);
    background-color: #56b46f;
    height: 2.5rem;
    font-size: 0.9rem;
    border: none;
    border-radius: 0.25rem;
    color: #FFFFFF;
    font-family: 'Roboto-Medium', 'Roboto', 'Helvetica', 'Arial', sans-serif;
    margin: 0 1rem;
    cursor: pointer;
    transition: 100ms;
}

.new-midsem button:hover, .new-midsem button:focus {
    color: #fff;
    background: #86dc9d;
    border-color: #86dc9d;
}

.new-midsem .cancel-button {
    margin-top: 1rem;
    border: 1px solid #56b46f;
    background: transparent;
    color: #56b46f;
}

.midsem-search-container {
    float: right;
    width: 100%;
    text-align: center;
}

.filter-options {
    margin-bottom: 1rem;
}

.ant-tabs:not(.ant-tabs-vertical)>.ant-tabs-content>.ant-tabs-tabpane #midsem {
    height: 100%;
}

/* .add-midsem-button {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 1rem auto;
    font-size: large;
    background: #56b46f;
    border-color: #56b46f;
  }
  
  .add-midsem-button .ant-btn-primary:focus, .ant-btn-primary:hover {
      color: #fff;
      background: #86dc9d;
      border-color: #86dc9d;
  } */
  