#courses {
    height: 85%;
    width: 95%;
    background: white;
    border: 1px solid #dddddd;
    margin: 30px auto;
}

/*=================================================================================================
 = course List
=================================================================================================*/
#courses .course-list {
    width: calc(100% - 20rem);
    height: 100%;
    border-right: 1px solid #DDDDDD;
    padding: 1.25rem 2rem 0;
}

.course-list h2 {
    padding-bottom: 0.5rem;
}

.course-list label {
    font-size: 0.9rem;
    display: block;
    color: #AAAAAA;
    margin-bottom: 0.6rem;
}

.course-list .table-container {
    height: calc(100% - 2.6rem);
    background-color: #FFFFFF;
    border-radius: 0.25rem;
    border: 1px solid #DDDDDD;
}

.course-list .course-list-table {
    border-radius: 0;
    border-collapse: collapse;
}

.course-list-table thead th {
    border-radius: 0;
    background-color: #05668D;
    color: #FFFFFF;
    font-family: 'Roboto-Medium', 'Roboto Medium', 'Roboto', 'Helvetica', 'Arial', sans-serif;
    padding: 1rem 0.45rem;
    text-align: center;
}

.course-list-table tbody td {
    padding: 0.75rem 0.45rem;
    text-align: center;
}

.course-list-table tbody * {
    font-family: 'Roboto-Regular', 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

.course-list-table .ant-pagination.ant-table-pagination {
    margin: 1rem 1rem 0;
}

.course-list-table .ant-pagination.ant-table-pagination .ant-pagination-item.ant-pagination-item-active {
    background-color: #05668D;
    border-color: #05668D;
}

.course-list-table tbody tr td:last-of-type {
    width: 10rem;
}

.course-list-table .action-column {
    width: 100%;
}

.course-list-table .action-column button {
    width: 80%;
    margin: 0 0.275rem;
    height: 1.5rem;
    border: 1px solid transparent;
    background-color: transparent;
    cursor: pointer;
    border-radius: 0.25rem;
    font-size: 0.875rem;
}

.course-list-table .action-column button.delete {
    border-color: #D32F2F;
    color: #D32F2F;
}

.course-list-table .action-column button.edit {
    border-color: #05668D;
    background-color: #05668D;
    color: #FFFFFF;
    transition: 100ms;
}

.course-list-table .action-column button.edit:hover {
    border-color: #05668D;
    background-color: #05668D;
}

.saveButton {
    width: 50%;
    min-width: 150px;
    /* padding-top: 10px; */
    margin: 10px 0px 10px 0px;
    float: right;
}

/*=================================================================================================
 = New course
=================================================================================================*/
#courses .new-course {
    height: 100%;
    width: 20rem;
    padding: 3rem 1rem 0;
}

.new-course h2 {
    font-size: 1.25rem;
    color: #666666;
    text-align: center;
    padding-bottom: 0.25rem;
    border-bottom: 1px solid #999999;
    margin-bottom: 2rem;
}

.new-course label {
    font-size: 0.9rem;
    display: block;
    color: #AAAAAA;
    margin-bottom: 0.6rem;
}

.new-course .form-input {
    width: 100%;
    display: block;
    height: 2.5rem;
    padding: 0 0.5rem;
    margin-bottom: 1.5rem;
    border-radius: 0.25rem;
    border: 2px solid #DDDDDD;
    background-color: #FFFFFF;
    transition: 80ms;
}

.new-course .form-input:focus {
    border-color: #AAAAAA;
}

.new-course .form-input:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.new-course button {
    display: block;
    width: calc(100% - 2rem);
    background-color: #05668D;
    height: 2.5rem;
    font-size: 0.9rem;
    border: none;
    border-radius: 0.25rem;
    color: #FFFFFF;
    font-family: 'Roboto-Medium', 'Roboto', 'Helvetica', 'Arial', sans-serif;
    margin: 0 1rem;
    cursor: pointer;
    transition: 100ms;
}

.new-course button:hover, .new-course button:focus {
    background-color: rgb(74, 162, 197);
}

.new-course .cancel-button {
    margin-top: 1rem;
    border: 1px solid #05668D;
    background: transparent;
    color: #05668D;
}

.course-search-container {
    float: right;
    width: 100%;
    text-align: center;
}

.filter-options {
    margin-bottom: 1rem;
}
.filter-options-course{
    margin-bottom: 0rem;
}

.ant-select-selection__rendered > ul {
    list-style: none;
}

.date-element .ant-calendar-picker{
    width: 100%;
}

.time-element .ant-time-picker{
    width: 100%;
}

.filter-container-elements{
    margin: auto;
    display: inline-block;
    width: 100%;
    text-align: center
}